site_name: LMS-Community
site_url: https://lms-community.github.io/
repo_url: https://github.com/lms-community/lms-community.github.io
edit_uri: edit/main/docs/

theme:
  name: material
  logo: assets/logo.png
  language: en
  features:
    - content.action.edit
    - content.action.view
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
    - navigation.expand
    - navigation.sections
    - navigation.instant
    - navigation.instant.progress
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

plugins:
  - search

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Logitech/slimserver
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/lmscommunity/logitechmediaserver
    - icon: simple/vbulletin
      link: https://forums.slimdevices.com

# tabbed content
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - Home:
    - Overview: index.md
    - Community Forums: https://forums.slimdevices.com
  - Getting Started with LMS:
    - Installation: getting-started/index.md
    - Import Favorites from MySqueezebox.com: getting-started/import-favorites-from-mysb.md
    - Migrate from UE Smart Radio:
      - English: getting-started/migrate-from-uesr.md
      - Deutsch: getting-started/migrate-from-uesr-de.md
    - Beginner's guides:
      - Beginner's Docker Guide on Synology: getting-started/beginners-guide-synology-docker.md
    - Changelog:
      - LMS8 changelog: getting-started/changelog-lms8.md
      - LMS9 changelog: getting-started/changelog-lms9.md
  - Players & Controllers:
    - players-and-controllers/index.md
    - Hardware based:
      - Hardware comparison: players-and-controllers/hardware-comparison.md
      - Squeezebox Touch: players-and-controllers/squeezebox-touch.md
      - Squeezebox Radio: players-and-controllers/squeezebox-radio.md
      - Squeezebox Boom: players-and-controllers/squeezebox-boom.md
      - Squeezebox Duet:
        - Squeezebox Controller: players-and-controllers/squeezebox-controller.md
        - Squeezebox Receiver: players-and-controllers/squeezebox-receiver.md
      - Transporter: players-and-controllers/transporter.md
      - Squeezebox Classic: players-and-controllers/squeezebox-classic.md
      - Squeezebox 2: players-and-controllers/squeezebox2.md
      - Squeezebox 1: players-and-controllers/squeezebox1.md
      - SLIMP3: players-and-controllers/SLIMP3.md
    - Software based:
      - Squeezelite: players-and-controllers/squeezelite.md
      - piCorePlayer: players-and-controllers/picoreplayer.md
  - Plugins:
    - Overview: plugins/index.md
    - Available Plugins: plugins/directory.md
    - Repository File Reference: reference/repository-dev.md
  - Contributing:
    - contributing/index.md
    - Reporting a bug: contributing/reporting-a-bug.md
    - Adding translations: contributing/adding-translations.md
  - Reference:
    - reference/index.md
    - Logitech Media Server: reference/logitech-media-server.md
    - Docker:
      - Add locales to the Docker container: reference/add-locales-to-docker.md
    - Development:
      - Database Structure: reference/database-structure.md
      - SlimProto Protocol: reference/slimproto-protocol.md
      - SLIMP3 Protocol: reference/slimp3-protocol.md
      - Squeezeplay Applet:
        - Applet Development: reference/squeezeplay-applet.md
        - Installing Applets: reference/installing-applets.md
      - SqueezePlay Menu System:
        - Home Menu vs. SlimBrowse: reference/home-vs-slimbrowse.md
        - Home Menu Items: reference/adding-menus-squeezeplay.md
        - SlimBrowse Protocol: reference/slimbrowse.md
      - SSH/SCP:
        - Enable SSH Access to the Squeezebox: reference/enable-ssh.md
        - WinSCP How To: reference/winscp.md
      - Plugin/Applet Repositories: reference/repository-dev.md
      - Music Service Plugin: reference/music-service-plugin.md
      - "#CURTRACK Guide": reference/curtrack.md
      - Special IR Keys: reference/special-ir-keys-reset.md
      - Custom Firmware: reference/custom-firmware.md
      - Custom OS support: reference/slim-utils-os-custom.md
      - Using the CLI: reference/using-the-cli.md
