site_name: Lyrion Music Server
site_url: https://lyrion.org/
repo_url: https://github.com/lms-community/lms-community.github.io
edit_uri: edit/main/docs/
exclude_docs: |
  downloads.yaml

theme:
  name: material
  logo: assets/logo.png
  language: en
  features:
    - content.action.edit
    - content.action.view
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
    - navigation.expand
    - navigation.sections
    - navigation.instant
    - navigation.instant.progress
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

plugins:
  - search
  - privacy
  - macros:
      include_yaml:
        - docs/getting-started/downloads.yaml
        - docs/players-and-controllers/firmware-versions.yaml
        - docs/contributing/strings-coverage.yaml

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/LMS-Community/slimserver
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/lmscommunity/lyrionmusicserver
    - icon: simple/vbulletin
      link: https://forums.slimdevices.com

# tabbed content
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - Home:
    - Overview: index.md
    - Community Forums: https://forums.slimdevices.com
  - Getting Started with LMS:
    - Download & Installation: getting-started/index.md
    - Migrate from UE Smart Radio:
      - English: getting-started/migrate-from-uesr.md
      - Deutsch: getting-started/migrate-from-uesr-de.md
    - Beginner's guides:
      - Beginner's guide for LMS: getting-started/beginners-guide-lms-on-raspberry-pi.md
      - Beginner's guide for a full-featured LMS: getting-started/beginners-guide-full-featured-lms-on-raspberry-pi.md
      - Beginner's Docker guide on Synology: getting-started/beginners-guide-synology-docker.md
    - Advanced guides:
      - Use OpenVPN on SB Touch/Radio: getting-started/advanced-guide-openvpn.md
    - Changelog:
      - LMS 8 changelog: getting-started/changelog-lms8.md
      - LMS 9 changelog: getting-started/changelog-lms9.md
  - Players & Controllers:
    - players-and-controllers/index.md
    - Hardware based:
      - Hardware Comparison: players-and-controllers/hardware-comparison.md
      - Squeezebox Touch: players-and-controllers/squeezebox-touch.md
      - Squeezebox Radio: players-and-controllers/squeezebox-radio.md
      - Squeezebox Boom: players-and-controllers/squeezebox-boom.md
      - Squeezebox Duet:
        - Squeezebox Controller: players-and-controllers/squeezebox-controller.md
        - Squeezebox Receiver: players-and-controllers/squeezebox-receiver.md
      - Transporter: players-and-controllers/transporter.md
      - Squeezebox Classic: players-and-controllers/squeezebox-classic.md
      - Squeezebox 2: players-and-controllers/squeezebox2.md
      - Squeezebox 1: players-and-controllers/squeezebox1.md
      - SLIMP3: players-and-controllers/SLIMP3.md
    - Software based:
      - Software Comparison: players-and-controllers/software-comparison.md
      - Squeezelite: players-and-controllers/squeezelite.md
      - Squeezelite manpage: players-and-controllers/squeezelite-manpage.md
      - Jivelite: players-and-controllers/jivelite.md
      - SqueezePlay: players-and-controllers/squeezeplay.md
      - SoftSqueeze: players-and-controllers/softsqueeze.md
      - piCorePlayer: players-and-controllers/picoreplayer.md
  - Plugins:
    - Overview: plugins/index.md
    - Available Plugins: plugins/directory.md
    - Repository File Reference: reference/repository-dev.md
  - Contributing:
    - contributing/index.md
    - Reporting a bug: contributing/reporting-a-bug.md
    - Adding translations: contributing/adding-translations.md
  - Reference:
    - Lyrion Music Server: reference/lyrion-music-server.md
    - Docker:
      - Add locales to the Docker container: reference/add-locales-to-docker.md
    - Development:
      - Command Line Interface (JSON/RPC):
        - Introduction: reference/cli/introduction.md
        - Using the CLI: reference/cli/using-the-cli.md
        - General: reference/cli/general.md
        - Players: reference/cli/players.md
        - Database: reference/cli/database.md
        - Playlist: reference/cli/playlist.md
        - Compound Queries: reference/cli/compoundqueries.md
        - Notifications: reference/cli/notifications.md
        - Alarms: reference/cli/alarms.md
      - Database Structure: reference/database-structure.md
      - SlimProto Protocol: reference/slimproto-protocol.md
      - SLIMP3 Protocol: reference/slimp3-protocol.md
      - Classic/Boom/Transporter Graphics: reference/ip3k-graphics.md
      - Squeezeplay Applet:
        - Applet Development: reference/squeezeplay-applet.md
        - Installing Applets: reference/installing-applets.md
      - SqueezePlay Menu System:
        - Home Menu vs. SlimBrowse: reference/home-vs-slimbrowse.md
        - Home Menu Items: reference/adding-menus-squeezeplay.md
        - SlimBrowse Protocol: reference/slimbrowse.md
      - SSH/SCP:
        - Enable SSH Access to the Squeezebox: reference/enable-ssh.md
        - WinSCP How To: reference/winscp.md
      - Plugin/Applet Repositories: reference/repository-dev.md
      - Music Service Plugin: reference/music-service-plugin.md
      - "#CURTRACK Guide": reference/curtrack.md
      - Special IR Keys: reference/special-ir-keys-reset.md
      - Custom Firmware: reference/custom-firmware.md
      - Custom OS support: reference/slim-utils-os-custom.md
